/* Main body styling */
body {
    align-items: center;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
:root {

--team1Color: white;
--team2Color: black;
--team1fontColor: black;
--team2fontColor: white;
}
/* Hyperlink styles */
a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Main heading style */
h1 {
    font-size: 1em;
    text-align: center;
}

/* Add time button styles 
.add-time-button {
    background-color: #ec008c;
    border: none;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    font-size: 0.9em;
    padding: 0.3em;
    position: absolute;
} 
.add-time-button:hover {
    background-color: grey;
	color:white;
}

.black .add-time-button {
    left: 10px;
}

.white .add-time-button {
    right: 10px;
}
*/
/* Controls section */
.controls {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
}

/* Control buttons */
.controls button {
    background-color: #ec008c;
    border: none;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    flex-grow: 1;
    font-size: 0.9em;
    height: 2em;
    margin: 0.2em;
	padding:0.3em;
    max-width: 80px;  /* größe der buttons mit add time button und stopwatch abstimmen */
    
}

.controls button:hover {
    background-color: grey;
	color:white;
}

/* Description section */
.description {
    align-items: center;
    display: flex;
    font-size: 1em;
    font-weight: bold;
    justify-content: center;
    max-height: 100px;
    text-align: center;
}




/* Footer section */
.footer {
    font-size: 0.9em;
    font-stretch: condensed;
    font-style: italic;
    margin-top: 0px;
    text-align: center;
}

.footer img {
    height: 100px;
    margin-top: 2px;
    width: 100px;
}

/* Label container */
.label-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    text-align: center;
}

/* Labels */
.label {
    background-color: transparent;
    border-radius: 5px;
    font-size: 1em;
    padding: 0px 0px;
    position: absolute;
    z-index: 1;
}

/* Master button styles */
.master-button {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
    font-size: 1em;
    margin: 5px 0px;
    max-width: 600px;
    padding: 0.3em;
    width: 100%;
}


/* Settings icon and menu */
#settings-icon {
    cursor: pointer;
    font-size: 2em;
    margin-left: 0px;
}

#settings-menu {
    margin-top: 0px;
    font-size: 0.8em;
	padding: 0px;
    margin-top: 0px;
    text-align: center;
	width:0%;
}

#settings-menu.hidden {
    display: none;
}

#settings-menu.visible {
    display: block;
}

/* Stopwatch section */
.stopwatch {
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 150px;
    max-height: 200px;
    padding: 0px;
    position: relative;
    width: 85%;
	height: 100px;
	
}

/* Stopwatch colors */
.stopwatch.green {
    background-color: green;
}

.stopwatch.red.black {
    background-color: red;
    color: white;
}

.stopwatch.red.white {
    background-color: red;
    color: black;
}

.stopwatch.yellow {
    background-color: yellow;
    color: black;
}

/* Star styles */
.star {
    --star-color: lightgray;
    border-bottom: 0.7em solid var(--star-color);
    border-left: 1em solid transparent;
    border-right: 1em solid transparent;
    display: block;
    font-size: 10em;
    height: 0px;
    position: absolute;
    transform: scale(0.2, 0.2) rotate(35deg);
    width: 0px;
}

.star:after {
    border-bottom: 0.7em solid var(--star-color);
    border-left: 1em solid transparent;
    border-right: 1em solid transparent;
    content: "";
    display: block;
    height: 0;
    left: -1.05em;
    position: absolute;
    top: 0.03em;
    transform: rotate(-70deg);
    width: 0;
}

.star:before {
    border-bottom: 0.8em solid var(--star-color);
    border-left: 0.3em solid transparent;
    border-right: 0.3em solid transparent;
    content: "";
    display: block;
    height: 0;
    left: -0.65em;
    position: absolute;
    top: -0.45em;
    transform: rotate(-35deg);
    width: 0;
}

/* Main table styling */
.table {
    align-items: center;
    background-color: transparent;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr auto 1fr;
    justify-items: center;
    max-width: 600px;
    padding: 5px 0;
    width: 100%;
}
.settings-table {
	align-items: center;
    background-color: transparent;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    max-width: 600px;
    padding: 5px 0;
    width: 100%;
	font-size: 2em;
}

.overlay {
    align-items: center;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
	height: 100%;
  width: 100%;
	 position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: white; /* white fallback color */
  background-color: rgba(255,255,255, 0.96); /* white w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.3s; /* transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}
/* Time container */
.time-container {
    align-items: center;
    display: flex;
}

/* Time styles */
.time {
    font-size: 1.5em;
    margin: auto;
}

/* Message styles */
.message {
    font-size: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
    margin-bottom: 0px;
    position: relative;
}

/* White background */
.white {
	background-color: white;
    background-color: var(--team1Color);
    color: black;
	color: var(--team1fontColor);
}

/* Black background */
.black {
	background-color: black;
    background-color: var(--team2Color);
    color: white;
	color: var(--team2fontColor);
}

/* Responsive styles  */
@media (max-width: 600px) {
   /* #settings-icon {
        cursor: pointer;
        font-size: 16px;
        margin-left: 10px;
    }

    .controls {
        gap: 5px;
    }

    .controls button {
        flex: 1;
        font-size: 1em;
        font-weight: normal;
        height: 35px;
        max-width: 45px;
        min-width: 25px;
        padding: 1px;
    }

    .description {
        font-size: 1em;
        min-height: 70px;
        padding: 1px;
    }

    .description .white {
        padding: 1px;
    }

    div.kreis {
        background-color: lightgrey;
        border-radius: 60px;
        font-size: 1em;
        height: 50px;
        line-height: 50px;
        width: 50px;
    } */

    .footer img {
        height: 50px;
        margin-top: 5px;
        width: 50px;
    }

   /* .label {
        background-color: transparent;
        border-radius: 5px;
        font-size: 1em;
        padding: 1px;
        position: absolute;
        z-index: 1;
    }

    .star {
        transform: scale(0.2, 0.2) rotate(35deg);
    }

    .stopwatch {
        max-width: 100px;
        min-height: 70px;
        min-padding: 1px;
    }

    .table {
        gap: 10px;
        grid-template-columns: 1fr auto 1fr;
        grid-template-rows: repeat(3, auto);
        padding: 10px 0;
    }

    .time {
        font-size: 1.2em;
    }

    .message {
        font-size: 1em;
        height: 10px;
        line-height: 10px;
        margin-bottom: 3px;
        top: 1px;
    } */
}

